<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome {{name}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
       h1{
            font-family: cursive;
            font-weight: bolder;
        }
        .no{
          display: flex;
          flex-wrap: wrap;
        }
    </style>
</head>
<body>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}

    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand">Cloud Storage</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/{{name}}/Home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/{{name}}/AllFiles">All Files</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
              </ul>
            </div>
          </div>
    </nav>


    <h1  class="m-5 text-center">Welcome To Cloud Storage {{name}}</h1>
    <form  enctype="multipart/form-data" action="/{{name}}/upload" method="post" class="content m-5 d-flex flex-column align-items-center">
      <p>Upload your files with extension png, jpg, pdf, excel, word, etc</p>
      <div class="no">
        <input style="cursor: pointer;" class="ok" type="file" name="file">
        <a class="nav-link" href="/{{name}}/upload"><button class="btn btn-primary"  type="submit">Upload</button></a>
      </div>
    </form>

    <table class=" mt-5 mb-5 table table-bordered border-primary">
      <thead>
        <tr>
          <th scope="col">Sr.No</th>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      {% for data in Upload %}
      <tbody>
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{data.filename}}</td>
          <td>{{data.date}}</td>
          <td><a class="nav-link" href="/{{name}}/download/{{data.id}}"><button class="btn btn-primary" >Download</button></a></td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</html>